{% load monhan %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>モンスターリスト</title>
    <link rel="stylesheet" href="{% static 'css/MonHan.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/common.js' %}"></script>
</head>

<body>
    <header>モンスターワールド｜アイスボーン </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <div id="page_top"><a href="#">TOP</a></div>
</body>

</html>