{% extends 'MonHan/base.html' %}

{% block content %}
<!-- カスタム強化リスト -->
<div class="customlist">
    <h1>カスタム強化リスト</h1>
    <table border="1">
        <!-- タイトル行 -->
        <tr class="list_title">
            <td>目的</td>
            <td>レア</td>
            <td>必要素材</td>
            <td>個数</td>
            <td>対象モンスター</td>
            <td>対象地帯</td>
            <td>Lv</td>
        </tr>
        <!-- ★ カスタム枠の拡張 ★ -->
        <!-- Lv1 -->
        <tr>
            <td rowspan="10">カスタム枠の拡張</td>
            <td rowspan="3">レア12 Lv1</td>
            <td>大霊脈玉</td>
            <td class="num">1</td>
            <td>歴戦古龍</td>
            <td>導き</td>
            <td class="num">7</td>
        </tr>
        <tr>
            <td>霊脈の古龍骨</td>
            <td class="num">3</td>
            <td>歴戦古龍</td>
            <td>導き</td>
            <td class="num">7</td>
        </tr>
        <tr>
            <td>生者必滅の大剛角</td>
            <td class="num">5</td>
            <td>悉くネルギガンテ</td>
            <td>導き</td>
            <td class="num">7</td>
        </tr>
        <!-- Lv2 -->
        <tr class="colorRow">
            <td rowspan="3">レア12 Lv2</td>
            <td>大霊脈玉</td>
            <td class="num">1</td>
            <td>歴戦古龍</td>
            <td>導き</td>
            <td class="num">7</td>
        </tr>
        <tr class="colorRow">
            <td>霊脈の古龍骨</td>
            <td class="num">3</td>
            <td>歴戦古龍</td>
            <td>導き</td>
            <td class="num">7</td>
        </tr>
        <tr class="colorRow">
            <td>歴戦の煌毛</td>
            <td class="num">5</td>
            <td>歴戦ラージャ</td>
            <td>溶岩</td>
            <td class="num">7</td>
        </tr>
        <!-- Lv3 -->
        <tr>
            <td rowspan="4">レア12 Lv3</td>
            <td>大霊脈玉</td>
            <td class="num">1</td>
            <td>歴戦古龍</td>
            <td>導き</td>
            <td class="num">7</td>
        </tr>
        <tr>
            <td>霊脈の古龍骨</td>
            <td class="num">3</td>
            <td>歴戦古龍</td>
            <td>導き</td>
            <td class="num">7</td>
        </tr>
        <tr>
            <td>歴戦の殲滅角</td>
            <td class="num">5</td>
            <td>歴戦悉くネルギガンテ</td>
            <td>導き</td>
            <td class="num">7</td>
        </tr>
        <tr>
            <td>歴戦の滅龍殻</td>
            <td class="num">5</td>
            <td>歴戦ジンオウガ亜種</td>
            <td>氷雪</td>
            <td class="num">7</td>
        </tr>
        <!-- ★ 回復能力付与 ★ -->
        <!-- Lv1 -->
        <tr class="colorRow">
            <td rowspan="9" style="background-color: #fff;">回復能力付与</td>
            <td rowspan="5">レア12 Lv1</td>
            <td>歴戦の幻惑皮</td>
            <td class="num">7</td>
            <td>歴戦ネロミェール</td>
            <td>珊瑚</td>
            <td class="num">7</td>
        </tr>
        <tr class="colorRow">
            <td rowspan="2">みなぎる雷電殻</td>
            <td rowspan="2" class="num">5</td>
            <td rowspan="2">ジンオウガ</td>
            <td>森林</td>
            <td class="num">3～5</td>
        </tr>
        <tr class="colorRow">
            <td>珊瑚</td>
            <td class="num">3～5</td>
        </tr>
        <tr class="colorRow">
            <td>霊脈の古龍骨</td>
            <td class="num">3</td>
            <td>歴戦古龍</td>
            <td>導き</td>
            <td class="num">7</td>
        </tr>
        <tr class="colorRow">
            <td>導きの龍骨【陸珊瑚】</td>
            <td class="num">1</td>
            <td>陸珊瑚地帯で稀に入手</td>
            <td>珊瑚</td>
            <td class="num"></td>
        </tr>
        <!-- Lv2 -->
        <tr>
            <td rowspan="4">レア12 Lv2</td>
            <td>歴戦の竜鱗【銀】</td>
            <td class="num">7</td>
            <td>歴戦リオレウス希少種</td>
            <td>珊瑚</td>
            <td class="num">7</td>
        </tr>
        <tr>
            <td>歴戦の爆鱗</td>
            <td class="num">3</td>
            <td>歴戦紅蓮バゼル</td>
            <td>溶岩</td>
            <td class="num">7</td>
        </tr>
        <tr>
            <td>霊脈の古龍骨</td>
            <td class="num">3</td>
            <td>歴戦古龍</td>
            <td>導き</td>
            <td class="num">7</td>
        </tr>
        <tr>
            <td>導きの龍骨【溶岩】</td>
            <td class="num">1</td>
            <td>溶岩地帯で稀に入手</td>
            <td>溶岩</td>
            <td class="num"></td>
        </tr>
        <!-- ★ 会心率強化 ★ -->
        <!-- Lv1 -->
        <tr class="colorRow">
            <td rowspan="12" style="background-color: #fff;">会心率強化</td>
            <td rowspan="3">レア12 Lv1</td>
            <td>灼熱の断剣尾</td>
            <td class="num">9</td>
            <td>ディノバルド</td>
            <td>荒地</td>
            <td class="num">3～5</td>
        </tr>
        <tr class="colorRow">
            <td>龍脈の重竜骨</td>
            <td class="num">3</td>
            <td>何でも？</td>
            <td>導き</td>
            <td class="num">2～3</td>
        </tr>
        <tr class="colorRow">
            <td>泰然たる結晶</td>
            <td class="num">3</td>
            <td>荒地地帯で入手</td>
            <td>荒地</td>
            <td class="num"></td>
        </tr>
        <!-- Lv2 -->
        <tr>
            <td rowspan="5">レア12 Lv2</td>
            <td>歴戦の紅きたてがみ</td>
            <td class="num">7</td>
            <td>歴戦テオテスカトル</td>
            <td>溶岩</td>
            <td class="num">7</td>
        </tr>
        <tr>
            <td rowspan="2">蒼炎のたてがみ</td>
            <td rowspan="2" class="num">5</td>
            <td rowspan="2">ナナテスカトリ</td>
            <td>溶岩</td>
            <td class="num">5～6</td>
        </tr>
        <tr>
            <td>荒地</td>
            <td class="num">5～6</td>
        </tr>
        <tr>
            <td>霊脈の古龍骨</td>
            <td class="num">3</td>
            <td>歴戦古龍</td>
            <td>導き</td>
            <td class="num">7</td>
        </tr>
        <tr>
            <td>導きの結晶【荒地】</td>
            <td class="num">1</td>
            <td>荒地地帯で稀に入手</td>
            <td>荒地</td>
            <td class="num"></td>
        </tr>
        <!-- Lv3 -->
        <tr class="colorRow">
            <td rowspan="4">レア12 Lv3</td>
            <td>歴戦の殲滅角</td>
            <td class="num">7</td>
            <td>歴戦ネルギガンテ</td>
            <td>導き</td>
            <td class="num">7</td>
        </tr>
        <tr class="colorRow">
            <td>歴戦の氷牙</td>
            <td class="num">5</td>
            <td>歴戦ベリオロス</td>
            <td>氷雪</td>
            <td class="num">6～7</td>
        </tr>
        <tr class="colorRow">
            <td>霊脈の古龍骨</td>
            <td class="num">3</td>
            <td>歴戦古龍</td>
            <td>導き</td>
            <td class="num">7</td>
        </tr>
        <tr class="colorRow">
            <td>導きの結晶【氷雪】</td>
            <td class="num">1</td>
            <td>氷雪地帯で稀に入手</td>
            <td>氷雪</td>
            <td class="num"></td>
        </tr>
        <!-- ★ 攻撃力強化 ★ -->
        <!-- Lv1 -->
        <tr>
            <td rowspan="10">攻撃力強化</td>
            <td rowspan="5">レア12 Lv1</td>
            <td rowspan="2">歴戦の鋼翼</td>
            <td rowspan="2" class="num">7</td>
            <td rowspan="2">歴戦クシャルダオラ</td>
            <td>溶岩</td>
            <td class="num">7</td>
        </tr>
        <tr>
            <td>森林</td>
            <td class="num">7</td>
        </tr>
        <tr>
            <td>血に染まる漆黒皮</td>
            <td class="num">5</td>
            <td>怒り喰らうイビルジョー</td>
            <td>氷雪</td>
            <td class="num">5～6</td>
        </tr>
        <tr>
            <td>霊脈の古龍骨</td>
            <td class="num">3</td>
            <td>歴戦古龍</td>
            <td>導き</td>
            <td class="num">7</td>
        </tr>
        <tr>
            <td>龍脈に眠る大骨</td>
            <td class="num">5</td>
            <td>森林地帯で入手</td>
            <td>森林</td>
            <td class="num"></td>
        </tr>
        <!-- Lv2 -->
        <tr class="colorRow">
            <td rowspan="5">レア12 Lv2</td>
            <td>歴戦の竜鱗【銀】</td>
            <td class="num">7</td>
            <td>歴戦リオレウス希少種</td>
            <td>珊瑚</td>
            <td class="num">7</td>
        </tr>
        <tr class="colorRow">
            <td rowspan="2">闘気あふれる煌毛</td>
            <td rowspan="2" class="num">5</td>
            <td rowspan="2">ラージャン</td>
            <td>導き</td>
            <td class="num">5～7</td>
        </tr>
        <tr class="colorRow">
            <td>溶岩</td>
            <td class="num">4～6</td>
        </tr>
        <tr class="colorRow">
            <td>霊脈の剛竜骨</td>
            <td class="num">3</td>
            <td>歴戦</td>
            <td>導き</td>
            <td class="num">5～6</td>
        </tr>
        <tr class="colorRow">
            <td>龍脈に焦がされし蛮骨</td>
            <td class="num">3</td>
            <td>溶岩地帯で入手</td>
            <td>溶岩</td>
            <td class="num"></td>
        </tr>
        <!-- ★ 属性強化 ★ -->
        <!-- Lv1 -->
        <tr>
            <td rowspan="13">属性・状態異常強化</td>
            <td rowspan="5">レア12 Lv1</td>
            <td>歴戦の重油殻</td>
            <td class="num">7</td>
            <td>歴戦ラドバルキン</td>
            <td>瘴気</td>
            <td class="num">4～7</td>
        </tr>
        <tr>
            <td rowspan="2">命断ち切る惨爪</td>
            <td rowspan="2" class="num">5</td>
            <td rowspan="2">オドガロン</td>
            <td>珊瑚</td>
            <td class="num">3～4</td>
        </tr>
        <tr>
            <td>瘴気</td>
            <td class="num">2～4</td>
        </tr>
        <tr>
            <td>霊脈の重竜骨</td>
            <td class="num">3</td>
            <td>歴戦</td>
            <td>導き</td>
            <td class="num">3</td>
        </tr>
        <tr>
            <td>黄昏の結晶</td>
            <td class="num">3</td>
            <td>瘴気地帯で入手</td>
            <td>瘴気</td>
            <td class="num"></td>
        </tr>
        <!-- Lv2 -->
        <tr class="colorRow">
            <td rowspan="4">レア12 Lv2</td>
            <td>戦慄の黒アギト</td>
            <td class="num">9</td>
            <td>ティガレックス亜種</td>
            <td>瘴気</td>
            <td class="num">6</td>
        </tr>
        <tr class="colorRow">
            <td>宵闇より昏き牙</td>
            <td class="num">5</td>
            <td>死を纏うヴァルハザク</td>
            <td>瘴気</td>
            <td class="num">5～6</td>
        </tr>
        <tr class="colorRow">
            <td>龍脈の古龍骨</td>
            <td class="num">3</td>
            <td>古龍</td>
            <td>導き</td>
            <td class="num">5</td>
        </tr>
        <tr class="colorRow">
            <td>導きの結晶【瘴気】</td>
            <td class="num">1</td>
            <td>瘴気地帯で稀に入手</td>
            <td>瘴気</td>
            <td class="num"></td>
        </tr>
        <!-- Lv3 -->
        <tr>
            <td rowspan="4">レア12 Lv3</td>
            <td>歴戦の竜鱗【金】</td>
            <td class="num">7</td>
            <td>歴戦リオレイア希少種</td>
            <td>荒地</td>
            <td class="num">7</td>
        </tr>
        <tr>
            <td>つややかな黒曜甲</td>
            <td class="num">5</td>
            <td>ブラキディオス</td>
            <td>溶岩</td>
            <td class="num">2～5</td>
        </tr>
        <tr>
            <td>霊脈の剛竜骨</td>
            <td class="num">3</td>
            <td>歴戦</td>
            <td>導き</td>
            <td class="num">5～6</td>
        </tr>
        <tr>
            <td>導きの結晶【溶岩】</td>
            <td class="num">1</td>
            <td>溶岩地帯で稀に入手</td>
            <td>溶岩</td>
            <td class="num"></td>
        </tr>
    </table>
</div>
{% endblock %}