{% extends 'MonHan/base.html' %}

{% block content %}
    <!-- モンスターリスト -->
    <div class="list">
        {% for mons in monster %}
        <!-- コメント -->
        <div class="list_header">
            <div class="name">
                {{ mons.name }}
            </div>
            <div>
                {{ mons.get_series_display}}
            </div>
        </div>
        <div id="jyaku">
            <div class="details_header">
                <label>弱点属性</label>
            </div>
            <div class="details_title">
                <span>火</span>
                <span>水</span>
                <span>雷</span>
                <span>氷</span>
                <span>龍</span>
            </div>
            <div class="details_item">
                <span>{{ mons.get_jyaku_hi_display}}</span>
                <span>{{ mons.get_jyaku_mizu_display}}</span>
                <span>{{ mons.get_jyaku_kami_display}}</span>
                <span>{{ mons.get_jyaku_kori_display}}</span>
                <span>{{ mons.get_jyaku_ryu_display}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}