/* 値の指定順番 [上右下左]*/

* {
    margin: 0;
}

body {
    color: #333;
}

body > header {
    font-size: 40px;
    color: white;
    background-color: #FF9872;
    padding-left: 3px;
}

/* モンスターリスト全体の設定 */
.list {
    margin: 10px 10px 10px 10px;
    font-size: 18px;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

/* モンスター名が表示される行 */
.list_header {
    display: block;
    padding-left: 5px;
    border-top: 1px solid #CCCCCC;
}

.list_header  div {
    display: inline-block;
}

.list_header .name {
    width: 70%;
}

/* アコーディオン設定 */

.acd-checkbox {
    display: none;
}

.acd-label {
    display: block;
}

.acd-content {
    height: 0;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;
}

.acd-checkbox:checked ~ .acd-content {
    height: 100px;
    opacity: 1;
    transition: 0.5s;
    visibility: visible;
}

/*
.acd-checkbox:checked ~ #test {
    background-color: #FF9872;
}
*/
/* 明細のヘッダー（弱点属性 等） */
.details_header {
    padding-left: 5px;
    border-top: 1px solid #CCCCCC;
    background-color: #EEFFFF;
}

/* 明細のタイトル（火 等） */
.details_title {
    border-top: 1px solid #CCCCCC;
    background-color: #EEFFFF;
}
.details_title > span {
    display: inline-block;
    width: 100px;
    text-align: center;
    border-right: 1px solid #CCCCCC;
}

/* 明細の値（◎ 等） */
.details_item {
    border-top: 1px solid #CCCCCC;
}

.details_item > span {
    display: inline-block;
    width: 100px;
    text-align: center;
    border-right: 1px solid #CCCCCC;
}