/* 値の指定順番 [上右下左]*/
/*==================================
スマホを基本設計にする
★細かい設定
 - ～479px：スマートフォン縦
 - 480px～599px：スマートフォン横
 - 600px～959px：タブレット
 - 960px～1279px：小型PC
 - 1280px～：大型PC

 ★今回のサイト
 - ～480px：スマホ
 - 481px～959px：タブレット
 - 960px～：PC
/*==================================

/* ～479px：スマホ
------------------------------------- */
* {
    margin: 0;
}

body {
    color: #333;
    margin-bottom: 20px;
}

body > header {
    font-size: 20px;
    color: white;
    background-color: #FF9872;
    padding-left: 3px;
}

/* ページ切替リンク */
.links {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* ページタイトル */
.page_title {
    width: 90%;
    margin-left: 10px;
    font-size: 15px;
}

/* 絞り込み条件の設定 */
.filter {
    margin: 10px 10% 5px 10%;
}
.field {
    display: inline-block;
}

/* モンスターリスト全体の設定 */
.list {
    margin: 0px 5% 0px 5%;
    font-size: 12px;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    vertical-align: middle;
}

/* 一覧タイトル */
.list_title {
    background-color: rgba(240, 205, 111, 0.253);
}

/* モンスター名が表示される行 */
.list_header {
    display: block;
    padding-left: 10px;
    border-top: 1px solid #CCCCCC;
    height: 30px;
}

.list_header  div {
    display: inline-block;
    height: 30px;
}

.list_header .name {
    width: 60%;
}

.list_header .race {
    width: 15%;
    padding-left: 5px;
    border-left: 1px solid #CCCCCC;
}

.list_header .series {
    padding-left: 5px;
    border-left: 1px solid #cccccc;
}

/* アコーディオン設定 */

.acd-checkbox {
    display: none;
}

.acd-label {
    display: block;
}

.acd-content {
    height: 0;
    opacity: 0;
    /*transition: 0.5s;*/
    visibility: hidden;
}

.acd-checkbox:checked+.acd-label+.acd-content {
    height: auto;
    opacity: 1;
    transition: 0.5s;
    visibility: visible;
}

/* 明細のヘッダー（弱点属性 等） */
.details_header {
    padding-left: 5px;
    border-top: 1px solid #CCCCCC;
    background-color: #EEFFFF;
}

/* 明細のタイトル（火 等） */
.details_title {
    border-top: 1px solid #CCCCCC;
    background-color: #EEFFFF;
}
.details_title > span {
    display: inline-block;
    width: 100px;
    text-align: center;
    border-right: 1px solid #CCCCCC;
}

/* 明細の値（◎ 等） */
.details_item {
    border-top: 1px solid #CCCCCC;
}

.details_item > span {
    display: inline-block;
    width: 100px;
    text-align: center;
    border-right: 1px solid #CCCCCC;
}


/* カスタム強化リストで使う */
.customlist {
    margin: 0px 100px 0px 100px;
    font-size: 16px;
}

.customlist > table{
    width: 100%;
    border-color: #CCCCCC;
    border-collapse: collapse;
}
.customlist > table td {
    padding-left: 5px;
    padding-right: 5px;
}

.num {
    text-align: right;
}

.colorRow {
    background-color: lemonchiffon;
}

/* ページトップへ */
#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 50px;
    background: #3f98ef;
    opacity: 0.6;
    border-radius: 50%;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -5px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }


/* 481px～959px：タブレット
------------------------------------- */
@media screen and (min-width:481px) {

/*}*/


/* 960px～：PC
------------------------------------- */
/*@media screen and (min-width:960px){*/
    body > header {
        font-size: 40px;
        padding-left: 3px;
    }
    /* ページ切替リンク */
    .links {
        width: 90%;
        text-align: right;
    }

    /* ページタイトル */
    .page_title {
        width: 90%;
        margin-left: 10px;
    }

    /* 絞り込み条件の設定 */
    .filter {
        margin: 10px 100px 5px 100px;
    }
    .field {
        display: inline-block;
    }

    /* モンスターリスト全体の設定 */
    .list {
        margin: 0px 10% 0px 10%;
        font-size: 18px;
    }

    /* モンスター名が表示される行 */
    .list_header {
        padding-left: 5px;
        height: 30px;
    }

    .list_header .name {
        width: 70%;
    }

}


